




<%= link_to image_tag(nickspick.image.large_thumb.to_s), nickspick, class: "img-responsive" %>     
      
      <h3>
        <%= link_to (nickspick.name), nickspick %>
      </h3>
      <p style="font-size: 18px;"><%= nickspick.description %></p>
    