
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Specializing in Used Auto Parts">
  <meta name="keywords" content="amazon, chinese, fake, review, fraud, terms of service, prohibited, seller, buyer, e-commerce, ecommerce, retailer, online, fake review, 5 star, rating">
  <meta name="author" content="Nick Plagman">
  <link rel="icon" href="../../favicon.ico">

  <title>Binder Bruce | About</title>


<body>


<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">About Binder Bruce</h1>
    <p class="lead blog-description"></p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Welcome to Binder Bruce</h2>
        <p class="blog-post-meta">July 14, 2019</p>

              <hr>
       
 <!--        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote> -->
        <p>My name is Bruce Plagman. I grew up working with my father for International Harvester in the 50’s and 60's. We always had an International pickup (either Travelall or Scout) to drive as the family car until they stopped making them in ’75 and ’80, respectively.
</p>
        <p>I spent 15 years working for International Harvester/Navistar in sales/marketing/parts and have continued the passion my father – now in his early 90s, still has for these vehicles. 
</p>
        <p>I currently own 7 Internationals ranging from a 1940 D3 to a 1975 Scout, so I know how difficult it is to find good, original parts at reasonable prices.
</p>
        <p>If you own one of these vehicles, then you, too know that sometimes you're going to need a “donor” to be able to find the part you need. These parts I'm selling are “take offs” from the donor vehicles I've had to purchase to get the parts I've needed to finish my restorations.
</p>
        <p>I'm retired, so my labor in taking off these parts is a love and a hobby, not a commercial endeavor. Hopefully you will find these parts represented correctly and priced accordingly.
</p>
        <p>If you have any questions about a part or are interested in purchasing one, please contact me directly at <a href="mailto:69plag@gmail.com">69plag@gmail.com</a>.</p>

<p>Thanks for looking.</p>
<p>PS every part listed on this site is available; parts are removed from the site immediately upon being sold.
</p>








        
<!--         <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div> --><!-- /.blog-post -->

<!--       <div class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div> --><!-- /.blog-post -->

   <!--    <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div -->><!-- /.blog-post -->

      <!--<nav>-->
        <!--<ul class="pager">-->
          <!--<li><a href="#">Previous</a></li>-->
          <!--<li><a href="#">Next</a></li>-->
        <!--</ul>-->
      <!--</nav>-->

    </div><!-- /.blog-main -->



  </div><!-- /.row -->
 </div>
</div><!-- /.container -->

<footer class="blog-footer">
<!--   <p>
    <a href="#">Back to top</a>
  </p> -->
</footer>