
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Dedicated to exposing the violations that are ruining Amazon.">
  <meta name="author" content="Nick Plagman">
  <link rel="icon" href="../../favicon.ico">

  <title>Amazon is Broken</title>


<body>


<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Amazon is Broken</h1>
    <p class="lead blog-description"></p>
  </div>

  <div class="row">

    <div class="col-sm-8 blog-main">

      <div class="blog-post">
        <h2 class="blog-post-title">Why I'm Trying to Expose Amazon's Departure from being Customer-Centric</h2>
        <p class="blog-post-meta">July 14, 2017 by <a href="#">Nick Plagman</a></p>

              <hr>
       
 <!--        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote> -->
        <p>The Amazon that I fell in love with has been replaced by a greedy free-for-all in which sellers (mostly from China) are ignoring any rule that interferes with maximizing profits - and Amazon is letting them.</p>
        <p>Fake reviews, multiple accounts, multiple listings for the same product, new listings for products that already have a listing, re-listing a product because the original listing has too many negative reviews, harassing customers who post negative reviews; you name a rule designed to benefit the customer at the expense of preventing seller deception and greed, and you’ll just have named a rule that’s being ubiquitously ignored.</p>
        <p>The worst part: Amazon doesn’t care. I’ve reported sellers and fake reviewers, alike, and nothing has ever happened. In fact, I posted too many honest, negative reviews, and the sellers trying to scam customers got angry and reported me over and over; now my account can’t leave comments or ask questions (or answer them). That’s what I get for doing the right thing.</p>
        <p>These are all easily detectable and easily preventable problems, but Amazon neither detects nor prevents them. The once customer-centric company is now only concerned about maintaining the illusion of being customer-centric.</p>
        <p>The only time Amazon addresses the egregious abuse of its marketplace rules is when the abuse has practically become common knowledge. And even then, their response will only combat the symptom and give the illusion of solving the problem.</p>
        <p>For instance, Amazon’s response to the “incentivized reviews” issue was to ban them and add a “verified purchase” label to reviews written by customers who paid full price. Since incentivized reviews came from customers who received the item for free or at a discount, if that were to happen, that review wouldn’t bear the “verified purchase” moniker.</p>
<p>Except now fake reviewers just buy the item for full price and then get refunded by the seller via paypal.
</p>
<p>At least with the incentivized reviews, they included an “I received this at a discount…” disclaimer that let you know it was biased and should be ignored. Now the garbage reviews look exactly like the legitimate ones.
</p>
<p>Amazon also claimed they would delete sketchy incentivized reviews. But if you look at some of the most prolific fake reviewers, their incentivized reviews are alive and well. Meanwhile, dozens of my incentivized reviews, all of which were video reviews that showed the product for what it was, and many of which were negative reviews, were deleted en masse. How a 1-star review for an item that I returned was an incentivized review that needed deletion is beyond me.
</p>
<p>Well, Amazon may not care about you, but I do, so I’ve started this blog to attempt to expose the greedy scumbags who are destroying Amazon. I long for Amazon to actually enforce its own rules and return to being too good to be true, but I fear the corruption may be too widespread. Amazon has become too profitable for any seller who can get their junk listed and trick enough people into buying out the inventory they shipped to the Amazon warehouse.
</p>
<p>Please help by sharing my posts as much as you can. Maybe if enough people read the truth, Amazon will be forced to act. Of course, their actions might make the problem worse, but I can expose that, as well.
</p>
<p></p>
<p></p>








        
<!--         <h2>Heading</h2>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
        
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <pre><code>Example code block</code></pre>
        <p>Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <h3>Sub-heading</h3>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
        <ol>
          <li>Vestibulum id ligula porta felis euismod semper.</li>
          <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
          <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
        </ol>
        <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>
      </div> --><!-- /.blog-post -->

<!--       <div class="blog-post">
        <h2 class="blog-post-title">Another blog post</h2>
        <p class="blog-post-meta">December 23, 2013 by <a href="#">Jacob</a></p>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
          <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
        </blockquote>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
      </div> --><!-- /.blog-post -->

   <!--    <div class="blog-post">
        <h2 class="blog-post-title">New feature</h2>
        <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <ul>
          <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
          <li>Donec id elit non mi porta gravida at eget metus.</li>
          <li>Nulla vitae elit libero, a pharetra augue.</li>
        </ul>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
      </div -->><!-- /.blog-post -->

      <!--<nav>-->
        <!--<ul class="pager">-->
          <!--<li><a href="#">Previous</a></li>-->
          <!--<li><a href="#">Next</a></li>-->
        <!--</ul>-->
      <!--</nav>-->

    </div><!-- /.blog-main -->

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>My best attempts to save the American consumer, one piece of Chinese crap at a time. Thanks, Amazon!</p>
      </div>
      <div class="sidebar-module">
        <!--<h4>Archives</h4>-->
        <!--<ol class="list-unstyled">-->
          <!--<li><a href="#">March 2014</a></li>-->
          <!--<li><a href="#">February 2014</a></li>-->
          <!--<li><a href="#">January 2014</a></li>-->
          <!--<li><a href="#">December 2013</a></li>-->
          <!--<li><a href="#">November 2013</a></li>-->
          <!--<li><a href="#">October 2013</a></li>-->
          <!--<li><a href="#">September 2013</a></li>-->
          <!--<li><a href="#">August 2013</a></li>-->
          <!--<li><a href="#">July 2013</a></li>-->
          <!--<li><a href="#">June 2013</a></li>-->
          <!--<li><a href="#">May 2013</a></li>-->
          <!--<li><a href="#">April 2013</a></li>-->
        <!--</ol>-->
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="http://www.amazonisbroken.com">Amazon is Broken</a></li>
<!--           <li><a href="#">Funniest Stupid Reviews</a></li>
          <li><a href="#">Classic Engrish</a></li> -->
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
 </div>
</div><!-- /.container -->

<footer class="blog-footer">
<!--   <p>
    <a href="#">Back to top</a>
  </p> -->
</footer>