<div class="row" id="faqbk">

  <div class="col-md-4">

    <div class="panel-group">

      <ul class="list-unstyled">
        <li class="panel panel-filled support-question active">
          <a href="#answer1" data-toggle="tab" aria-expanded="true">
            <div class="panel-body">
              <p class="font-bold c-white">How do I pay?</p>
              <p>
                When you're ready to buy, Bruce will send you an invoice via PayPal. When you pay the invoice - if it's a shippable item - he will use Paypal to create a shipping label (so there'll be full transparency via tracking), do the most careful packaging job you've ever seen, and send you the part.
                <br>
                *Some of these parts are too big to ship, so we'll have to work something else out.
              </p>
            </div>
          </a>
        </li>
        <li class="panel panel-filled support-question">
          <a href="#answer2" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Why do I have to email Bruce? Why can't I buy through this site like a normal ecommerce site?</p>
              <p>
                Bruce is a retiree with a passion for classic Internationals and a bunch of extra parts, not an ecommerce merchant, and not an IT guy.
              </p>
            </div>
          </a>
        </li>
        <li class="panel panel-filled support-question">
          <a href="#answer3" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Are your prices negotiable?</p>
              <p>
                Depends. Let's talk <a href="mailto:69plag@gmail.com">69plag@gmail.com</a>.
              </p>
            </div>
          </a>
        </li>
        <li class="panel panel-filled support-question">
          <a href="#answer4" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Support question 4</p>
              <p>
                Versions have evolved over the years, sometimes by accident, sometimes on purpose
              </p>
            </div>
          </a>
        </li>
      </ul>

    </div>

  </div>
  <div class="col-md-8">

    <div class="panel">
      <div class="panel-body">
        <div class="tab-content">
          <div id="answer1" class="tab-pane active">
            <h3>
              How do you comment?
            </h3>
            <p class="font-bold c-white">
              You don't.<BR><BR> Sure, you may have great insight that comes from direct experience with a product, but I don't know that, do I? That's the whole reason Amazon has been ruined, because we don't know what reviews are from legitimate customers and what reviews are from sociopathic a-holes who sold their souls for free cheap crap. Maybe someday after I've taught myself some more web development I can add a way for people to upload objective videos (like I'm doing) that are indisputably not phony.
            </>

          </div>

          <div id="answer2" class="tab-pane">
            <h3>
              Who made you God, and why should I listen to you?
            </h3>
            <p class="font-bold c-white">
              To answer the first question: You did, when you murdered my boss. Now everyone's looking to me. Personally I'd pass on the job, I don't enjoy being this close to you. <br><br> Actually that's a quote from <i>Die Hard</i>; it might have mistakes, I did it from memory.
              <br><br>
              As for the second question, because- unlike other Robin Hoods, I can speak with an English Accent.<br><br>Actually that's a quote from Robin Hood: Men in Tights.
              <br><br> To really answer your question, because I'm not just giving my opinion, I'm showing you the product. And when possible, I'm showing it to you in action. Now, I can't promise it won't break in a month, but what you see is what you're going to get if you choose to roll the dice on said product.
            </p>




          </div>
          <div id="answer3" class="tab-pane">
            <h3>
              Question 3
            </h3>
            <p>
              Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            </p>
            <ul>
              <li>Lorem ipsum dolor sit amet, comes from</li>
              <li>There are many variations of passages of Lorem Ipsum available</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
            </ul>
            <p class="font-bold c-white">
              Contrary to popular belief, Lorem Ipsum is not
            </p>
            <p>
              McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
            <p>
              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
              content here', making it look like readable English.
            </p>
            <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes
              by accident, sometimes on purpose (injected humour and the like).
            </p>

          </div>
          <div id="answer4" class="tab-pane">
            <h3>
              Question 4
            </h3>
            <p>
              Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            </p>
            <ul>
              <li>Lorem ipsum dolor sit amet, comes from</li>
              <li>There are many variations of passages of Lorem Ipsum available</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
              <li>Lorem ipsum dolor sit amet, comes from</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
              <li>There are many variations of passages of Lorem Ipsum</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
            </ul>
            <p class="font-bold c-white">
              Contrary to popular belief, Lorem Ipsum is not
            </p>
            <p>
              McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
            <p>
              McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>

          </div>
        </div>


      </div>

    </div>

  </div>
</div>