<div class="row" id="faqbk">

  <div class="col-md-4">

    <div class="panel-group">

      <ul class="list-unstyled">
        <li class="panel panel-filled support-question active">
          <a href="#answer1" data-toggle="tab" aria-expanded="true">
            <div class="panel-body">
              <p class="font-bold c-white">How do I pay?</p>
              <p>
                When you're ready to buy, Bruce will send you an invoice via PayPal. When you pay the invoice - if it's a shippable item - he will use Paypal to create a shipping label (so there'll be full transparency via tracking), do the most careful packaging job you've ever seen, and send you the part.
                <br>
                *Some of these parts are too big to ship, so we'll have to work something else out.
              </p>
            </div>
          </a>
        </li>
        <li class="panel panel-filled support-question">
          <a href="#answer2" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Why do I have to email Bruce? Why can't I buy through this site like a normal ecommerce site?</p>
              <p>
                Bruce is a retiree with a passion for classic Internationals and a bunch of extra parts, not an ecommerce merchant, and not an IT guy.
              </p>
            </div>
          </a>
        </li>
        <li class="panel panel-filled support-question">
          <a href="#answer3" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Are your prices negotiable?</p>
              <p>
                Depends. Let's talk <a href="mailto:69plag@gmail.com">69plag@gmail.com</a>.
              </p>
            </div>
          </a>
        </li>
<!--         <li class="panel panel-filled support-question">
          <a href="#answer4" data-toggle="tab" aria-expanded="false">
            <div class="panel-body">
              <p class="font-bold c-white">Support question 4</p>
              <p>
                Versions have evolved over the years, sometimes by accident, sometimes on purpose
              </p>
            </div>
          </a>
        </li> -->
      </ul>

    </div>

  </div>
  <div class="col-md-8">

    <div class="panel">
      <div class="panel-body">
        <div class="tab-content">
          <div id="answer1" class="tab-pane active">
            <h3>
              How do I pay?
            </h3>
            <p class="font-bold c-white">
              When you're ready to buy, Bruce will send you an invoice via PayPal. When you pay the invoice - if it's a shippable item - he will use Paypal to create a shipping label (so there'll be full transparency via tracking), do the most careful packaging job you've ever seen, and send you the part.
                <br>
                *Some of these parts are too big to ship, so we'll have to work something else out.
            </>

          </div>

          <div id="answer2" class="tab-pane">
            <h3>
              Why do I have to email Bruce? Why can't I buy through this site like a normal ecommerce site?
            </h3>
            <p class="font-bold c-white">
              Bruce is a retiree with a passion for classic Internationals and a bunch of extra parts, not an ecommerce merchant, and not an IT guy.
            </p>




          </div>
          <div id="answer3" class="tab-pane">
            <h3>
              Are your prices negotiable?
            </h3>
            <p>
              Depends. Let's talk <a href="mailto:69plag@gmail.com">69plag@gmail.com</a>.
            </p>
          </div>
          <!-- <div id="answer4" class="tab-pane">
            <h3>
              Question 4
            </h3>
            <p>
              Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            </p>
            <ul>
              <li>Lorem ipsum dolor sit amet, comes from</li>
              <li>There are many variations of passages of Lorem Ipsum available</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
              <li>Lorem ipsum dolor sit amet, comes from</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
              <li>There are many variations of passages of Lorem Ipsum</li>
              <li>All the Lorem Ipsum generators on the Internet</li>
            </ul>
            <p class="font-bold c-white">
              Contrary to popular belief, Lorem Ipsum is not
            </p>
            <p>
              McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>
            <p>
              McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
            </p>

          </div> -->
        </div>


      </div>

    </div>

  </div>
</div>