/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootswatch/spacelab/variables";
@import "bootstrap";
@import "bootswatch/spacelab/bootswatch";

@import url('http://www.w3schools.com/lib/w3.css');

body {

}

.w3-card-12 {
  max-width: 300px;
}

#size16 {
  font-size: 16px;
  font-weight: bold;
}

#briefshow {
  font-size: 20px;
}

#showverdict {
  text-align: left;
  padding: 10px;
  background-image: url("https://s3.amazonaws.com/isitcrap/light+blue+box.png");
  background-size: 100% 100%;
  color: white;
  font-variant-caps: small-caps;
  font-size: 40px;

}
.verdict {
  color: white;

  font-size: 20px;
}

.navbar-default {
  background-color: #008dd6;
}

.navbar-default .navbar-collapse {
  background-color: #008dd6;
}

#bs-example-navbar-collapse-1 {

}


.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  color: #ffffff;
}

.center {
  text-align: center;

}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {font-size: 45px;}
  h5 {font-size: 25px;}
  p  {font-size: 18px;}
} /*md-6 is the show page, md-3 is on the index page*/


#faqbk {
  background: #2f323b;
  font-family: 'Roboto', sans-serif;
  color: #949ba2;
}

.row {
  margin: 30px;
}
.font-bold {
  font-weight: 500;
}
.c-white, h3 {
  color: #FFFFFF;
}

.panel {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #949ba2;
  border-radius: 3px;
}

.panel .panel-body {
  padding: 5px 15px 15px 15px;
}

.panel.panel-filled .panel-body {
  padding-top: 10px;
}

.panel .panel-footer {
  background-color: transparent;
  border: none;
}

.panel > .panel-heading {
  color: #ffffff;
}

.panel-tools {
  display: inline-block;
  float: right;
  margin-top: 0;
  padding: 0;
  position: relative;
}

.panel-tools a {
  margin-left: 2px;
  color: #949ba2;
  cursor: pointer;
}

.panel-tools a:hover {
  color: #ffffff;
}

.panel.panel-c-white {
  border-left: 3px solid #949ba2;
}

.panel.panel-c-accent {
  border-left: 3px solid #f6a821;
}

.panel.panel-c-primary {
  border-left: 3px solid #0F83C9;
}

.panel.panel-c-warning {
  border-left: 3px solid #f7af3e;
}

.panel.panel-c-info {
  border-left: 3px solid #56C0E0;
}

.panel.panel-c-success {
  border-left: 3px solid #1bbf89;
}

.panel.panel-c-danger {
  border-left: 3px solid #DB524B;
}

.panel.panel-b-accent {
  background-color: #f6a821;
  color: #ffffff;
}

.panel.panel-b-white {
  background-color: white;
  color: #61686f;
}

.panel.panel-b-white .panel-heading {
  color: #61686f;
}

.panel.panel-b-white .panel-footer {
  color: #61686f;
}

.panel.panel-filled {
  background-color: rgba(68, 70, 79, 0.5);
}

.support-question a {
  color: #949ba2;
}

.support-question a:hover {
  text-decoration: none;
}

.support-question a:focus {
  text-decoration: none;
}

.support-question:hover {
  background-color: rgba(68, 70, 79, 0.7);
}

.support-question.active {
  border-left: 3px solid #f6a821;
}

.support-question.active .panel-body {
  padding-left: 13px;
}