<style>
hr { 
    /*display: block;*/
    border-color: #8f8f8f;
    border-width: 2px;
    max-width: 90%;
    margin-bottom: 2px;
    margin-top: 15px;
} 
</style>


    <div class="thumbnail">
      
    </style>
    
    <% if product.main_picture.attached? %>
        <%= link_to image_tag(product.main_picture, style: 'max-height: 400px'), product %>
     <% end %>
        
<hr>
      <div class="caption">
      
        <h4 id="boldproduct" class="responsive-width" style="margin-left: 5px;"><%= product.name %></h4>
        <p id="briefshow" style="margin-left: 5px;"><%= product.price %></p>

      </div>
    </div>




<!-- image_tag @blog_post.main_picture.variant(resize: '700x700') -->
