<%= link_to image_tag(product.image.large_thumb.to_s), product if product.image %>

<div class="center" >
            <p id="size16"><%= product.name %></p>

            <p id="briefshow"><%= product.brief %></p>
<div class="btn btn-danger">
            <p class="verdict"><%= product.verdict %></p></div>

</div>
