<style>
hr { 
    /*display: block;*/
    border-color: #8f8f8f;
    border-width: 0px;
    max-width: 80%;
    margin-bottom: 0px;
    margin-top: 0px;
} 
</style>


    <div class="thumbnail" style="min-width: 200px; border: 0px; box-shadow: none; margin-bottom: 10px; padding: 2px;">
    
    <% if product.main_picture.attached? %>
        <%= link_to image_tag(product.main_picture, style: 'max-width: 250px'), product %>
     <% end %>
        

      <div class="caption">
      <hr>
        <h4 id="boldproduct" class="responsive-width" style="margin-left: 5px;"><%= product.name %></h4>
        <p id="briefshow" style="margin-left: 5px;"><%= product.price %></p>

      </div>
    </div>




<!-- image_tag @blog_post.main_picture.variant(resize: '700x700') -->
