<div class="col-md-7" id="summary">
  <p><%= @product.description %></p>
</div>

<div class="col-md-1">
     </div>

<div class="col-md-4" id="belowvid" style="background-image: url(https://isitcrap.s3.amazonaws.com/uploads/product/image/7/large_thumb_zipties.jpg);">
  <h1 id="showverdict"><%= @product.verdict %></h1>
</div>