<div class="col-md-7" id="summary">
  <p><%= @product.description %></p>
</div>

<div class="col-md-1">
     </div>

<div class="col-md-4" id="belowvid">
  <h1 id="showverdict"><%= @product.verdict %></h1><br>
  <img src="https://s3.amazonaws.com/isitcrap/amazon+gray+button.jpg" width="275">
</div>